body {
  /* background-color: rgb(10 25 41); */
  /* background-color: #99dbf5;
   */

  background: linear-gradient(315deg, #dfaa72 0%, #95bee9 100%);
  font-family: Comic Sans MS;
  margin: 0;
  padding: 0;

  /* height: 200vh; */
  /* display: flex;
  justify-content: center; */
  /* align-items: center;
  flex-direction: column;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */
}

.box {
  position: relative;
  margin-top: 40px; /* Adjust the top margin as needed */
  margin-bottom: 80px;
}
